<html>
<head>
    <style>
        .box {
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            text-align: center;
            top: 25%;
        }
        .text{
            height: 4rem;
            font-size: 4rem;
            margin-bottom: 0.4em;
        }
        .soon{
            display: block;
            width: 100%;
            text-align: center;
            font-size: 2em;
        }
    </style>
</head>
<body>
    <div class="box">
        <h1 class="text">Oops! A Error Occurred</h1>
        <span class="soon">LA página que busca no se encuentra</span>
    </div>
</body>
</html>
